# Ignore audio, feature, and model files
features/
*.npy


# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
venv/
.env/
.venv/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
